version: 2
updates:
  - package-ecosystem: "pub"
    open-pull-requests-limit: 25
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
